body{
    width: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

.header, .wrapper, .menu, .body-content{
    width: 1200px;
    margin: 0 auto;
}

.header-title{
    text-align: center;
    font-size: 24pt;
    margin-bottom: 25px;
}

.header{
    height: 10%;
}

.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-item:first-of-type{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    bottom: 0;
}

.menu-item input[type=radio]{
    display: none;
}

.menu-item input[type=radio]+label{
    display: inline-block;
    padding: 10px 10px;
    width: 20%;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    background-color: #fff;
}

.menu-item input[type=radio]:active+label{
    background-color: #8a8a8a;
}

.menu-item input[type=radio]:checked+label{
    background-color: #000;
    color: #fff;
}

.main-item{
    display: flex;
    flex-wrap: nowrap;
}

.main-item .label {
    padding-right: 10px;
}

.div-off{
    display: none;
}

.group-btn{
    padding: 0 10%;
}

.group-btn .title{
    font-weight: 700;
    font-size: 16pt;
}

.group-btn .btn{
    text-align: center;
    padding: 25px;
    background: #000;
    border: #fff 1px solid;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
    user-select: none;
    transition: background-color 50ms ease-in;
}

.content{
    margin-bottom: 5%;
}

.health-content {
    justify-content: space-between;
}

.health-content p,
.health-content div{
    margin: 0 0 20px;
}

.group-btn .btn:active{
    background-color: #686868;
}