body{
    width: 100%;
    margin: 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none; 
}

body::-webkit-scrollbar{
    width: 0;
}

.header, .wrapper, .menu, .body-content{
    width: 1200px;
    margin: 0 auto;
}

.header{
    position: fixed;
    margin-bottom: 30px;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;

    border-bottom: 2px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding-bottom: 10px;
}

.header-title{
    text-align: center;
    margin-bottom: 15px;
    font-size: 28pt;
}

.main-content{
    padding-left: 25px;
    font-size: 14pt;
}

.main-content div>.label{
    display: inline-block;
    font-weight: 600;
}

.main-content div>.main-value{
    text-decoration: underline;
}

#indicators{
    display: flex;
    margin: 0 auto;
    justify-content: center;
    flex-basis: 10%;
    
    /* border-bottom: 2px solid #000;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fff;
    padding-bottom: 10px; */
}

#indicators .line{
    display: flex;
    flex-basis: 250px;
    justify-content: center;
}

.indicator-img{
    width: 10%;
}

.indicators_value{
    font-size: 20pt;
    margin-left: 10px;
    font-weight: 600;
}

#notification {
    text-align: center;
    padding: 10px 0;
    background-color: #000;
    color: #fff;
    margin: 5px auto;
    width: 50%;
    border-radius: 25px;
    opacity: 0;
    transition: opacity .2s ease-in;
}

#notification.header-info{
    opacity: 1;
}

.menu{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.menu-item{
    overflow: scroll;
}

.menu-item::-webkit-scrollbar{
    width: 0;
}

.menu-item:first-of-type{
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
    bottom: 0;
}

.menu-item input[type=radio]{
    display: none;
}

.menu-item input[type=radio]+label{
    display: inline-block;
    padding: 10px 10px;
    width: 20%;
    text-align: center;
    border: 1px solid;
    cursor: pointer;
    font-weight: 800;
    background-color: #fff;
}

.menu-item input[type=radio]:active+label{
    background-color: #8a8a8a;
}

.menu-item input[type=radio]:checked+label{
    background-color: #000;
    color: #fff;
}

.main-item{
    display: flex;
    flex-wrap: nowrap;
}

.main-item .label {
    padding-right: 10px;
}

.div-off{
    display: none;
}

.group-btn{
    padding: 0 10%;
    margin-bottom: 50px;
}

.group-btn .btn{
    text-align: center;
    padding: 25px 0;
    background: #000;
    border: #fff 1px solid;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 15px;
    width: 100%;
    cursor: pointer;
    user-select: none;
    transition: background-color 50ms ease-in;
}

.btn{
    text-align: center;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    background-color: #000;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
}

.content{
    margin: 10% 0 8%;
}

.group-btn .btn:active{
    background-color: #686868;
}

.group-title{
    text-align: center;
    margin: 0 0 10px 0;
    padding: 20px 0;
    border: #000 solid 2px;
    border-radius: 20px;
}

.disabled{
    cursor: not-allowed !important;
    background-color: rgb(77, 77, 77) !important;
}