.popup-backside{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
    transition: backgroud .2s ease-in, opacity .5s ease-in;
}

.popup-main{
    background-color: rgb(240, 248, 255);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transform:  translateY(-400px);
    transition: all .3s ease-out;
}

.popup-open .popup-main{
    position: relative;
    transform: translateY(calc(1px + 5%));
}

.popup-open.popup-backside::-webkit-scrollbar{
    width: 0;
}

.popup-open .popup-main,
.popup-open.popup-backside{
    opacity: 1;
    z-index: 1000;
}

.popup-open.popup-backside{
    overflow-y: auto;
}

.popup-title{
    font-weight: 600;
    font-size: 16pt;
}

.popup-content{
    margin-bottom: 15px;
    text-align: justify;
}

.popup_destroy {
    text-align: right;
    margin-bottom: 10px;
}

.header-close{
    border: 1px solid #000;
    cursor: pointer;
}

.popup-header{
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.popup-footer{
    border-top: 1px solid #000;
    padding-top: 10px;
}