.popup-backside{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .5);
    transition: backgroud .2s ease-in, opacity .5s ease-in;
}

.popup-main{
    background-color: rgb(240, 248, 255);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
    width: 50%;
    margin: 0 auto;
    opacity: 0;
    transform:  translateY(-400px);
    transition: all .3s ease-out;
}

.popup-content{
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popup-open .popup-main{
    position: relative;
    transform: translateY(calc(1px + 5%));
}

.popup-open.popup-backside::-webkit-scrollbar{
    width: 0;
}

.popup-open .popup-main,
.popup-open.popup-backside{
    opacity: 1;
    z-index: 1000;
}

.popup-open.popup-backside{
    overflow-y: auto;
}

.popup-title{
    font-weight: 600;
    font-size: 16pt;
}

.popup-content{
    margin-bottom: 15px;
    text-align: justify;
}

.popup_destroy {
    text-align: right;
    margin-bottom: 10px;
}

.header-close{
    border: 1px solid #000;
    cursor: pointer;
}

.popup-header{
    border-bottom: 1px solid #000;
    margin-bottom: 20px;
}

.popup-footer{
    border-top: 1px solid #000;
    padding-top: 10px;
}

.disabled{
    display: none;
}

.popup-content form{
    margin: 15px 0;
}

.popup-button-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.popup-button-block button{
    white-space: nowrap;
    padding: 15px;
    width: auto;
}

.popup-content form > div{
    display: flex;
    flex-wrap: nowrap;
    justify-content: stretch;
    width: 100%;
}

.popup-content form .input-container{
    width: 70%;
    margin-bottom: 10px;
}

.popup-content form .input-container .input-description{
    font-size: 12pt;
    transition: color .3s ease-out;
}

.popup-content form div input{
    border: none;
    outline: none;
    font-size: 14pt;
    width: inherit;
    border-bottom: 1px #000 solid;
    background: transparent;
    padding-left: 6px;
    display: block;
    transition: line-height .5s ease-in, 
    border-color .3s ease-out;
}

.popup-content form div input::-webkit-outer-spin-button,
.popup-content form div input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.popup-content form div input:focus{
    line-height: 1.35em;
}

.popup-content form > div lable{
    text-align: right;
    font-size: 14pt;
    width: 20%;
    vertical-align: middle;
}

.popup-content form div lable::after{
    content: ": ";
    margin-right: 10px;
}

input.danger-field{
    border-color: #ff6347 !important;
}

div.danger-field{
    color: #ff6347 !important;
}


@media (min-width:960px) and (max-width:1139px){
    .popup-main{
        width: 80%;
    }
}

@media (min-width:720px) and (max-width:959px){
    .popup-main{
        width: 90%;
    }
}

@media (min-width:540px) and (max-width:719px){
    .popup-main{
        width: 90%;
    }
}

@media (max-width:539px){
    .popup-main{
        width: 80%;
    }

    .popup-content ul{
        padding-inline-start: 20px;
    }

    .popup-content p{
        margin: 0 0 15px 0;
    }
}